In [1]:
from mt103 import MT103
import re
from datetime import date
# mt103 = MT103("some-mt-103-string")
# print("basic header: {}, bank op code: {}, complete message: {}".format(
#     mt103.basic_header,
#     mt103.text.bank_operation_code,
#     mt103
# ))

In [2]:
s='{1:F01DBSSSGSGAXXX6690637685}{2:O1031522170418SCBLSGSGBXXX12492735141704181609N}{4::20:XXXXXXXXXXX:23B:CRED:32A:170418SGD78,23:33B:SGD78,23:50K:/XXXXXXXXXXXIG ASIA P L-CLIENTSA/C9 BATTERY ROAD,01-02 STRAITS TRADING BUILDING,SINGAPORE,049910/SINGAPORE:52A:XXXXXXXXXXX:57A:XXXXXXXXXXX:59:/XXXXXXXXXXXSai Choong Lee:71A:OUR-}'

In [3]:
m1 = re.search('1:(.+?)}', s).group(1)
m2 = re.search('2:(.+?)}', s).group(1)
m3 = re.search('20:(.+?):', s).group(1)
m4 = re.search('23B:(.+?):', s).group(1)
m5 = re.search('32A:(.+?):', s).group(1)
m6 = re.search('33B:(.+?):', s).group(1)
m7 = re.search('50K:(.+?):', s).group(1)
m8 = re.search('52A:(.+?):', s).group(1)
m9 = re.search('57A:(.+?):', s).group(1)
m10 = re.search('59:(.+?):', s).group(1)
m11 = re.search('71A:(.+?)}', s).group(1)

In [4]:
print(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11)

F01DBSSSGSGAXXX6690637685 O1031522170418SCBLSGSGBXXX12492735141704181609N XXXXXXXXXXX CRED 170418SGD78,23 SGD78,23 /XXXXXXXXXXXIG ASIA P L-CLIENTSA/C9 BATTERY ROAD,01-02 STRAITS TRADING BUILDING,SINGAPORE,049910/SINGAPORE XXXXXXXXXXX XXXXXXXXXXX /XXXXXXXXXXXSai Choong Lee OUR-

In [5]:
# print(m)

In [6]:
from schwifty import BIC
s=m1[3:14]
print(s)
bic = BIC('DBSSSGSGAXX')
# PBNKDEFFXXX
# DBSSSGSGAXXX
# SCBLSGSGBXXX
# YOURCODEZABC – The Logical Terminal Address – which is typically your BIC 8 (YOURCODE) + Logical Terminal Code (Z) + Branch Code
print(bic.bank_code)
print(bic.branch_code)
print(bic.country_code)
print(bic.location_code)
print(bic.country_bank_code)

DBSSSGSGAXX
DBSS
AXX
SG
SG
None

In [7]:
import json
from pprint import pprint

# with open('SwiftCodes-master\AllCountries\'+bic.country_code+'.json') as data_file:    
#     data = json.load(data_file)
# pprint(data)
q='SwiftCodes/AllCountries/' + bic.country_code + '.json' 
with open(q, encoding='utf-8') as data_file:
    data = json.loads(data_file.read())
print(data['list'][0]['swift_code'])

ABFMSGS1

In [8]:
# DE80640901000001234567
# DBSSSGSGAXXX6690637685
# DBSSSGSGA0006690637685

In [9]:
import pandas as pd

from pandas.io.json import json_normalize

In [14]:
with open('SwiftCodes/AllCountries/' + bic.country_code + '.json') as data_file:    
    data = json.load(data_file)

Empty DataFrame
Columns: [l_bank, l_branch, l_city, l_id, l_swift_code, id, bank, city, branch, swift_code]
Index: []

In [15]:
df = json_normalize(data, 'list', ['id', 'bank', 'city','branch','swift_code'], errors='ignore', record_prefix='l_')
df[:5]

,l_bank,l_branch,l_city,l_id,l_swift_code,id,bank,city,branch,swift_code
0,ABERDEEN ASSET MANAGEMENT ASIA LIMITED,None,SINGAPORE,1,ABFMSGS1,NaN,NaN,NaN,NaN,NaN
1,ABN AMRO BANK N.V. SINGAPORE BRANCH,(COMMERCIAL AND MERCHANT BANKING),SINGAPORE,2,ABNASG2ACMB,NaN,NaN,NaN,NaN,NaN
2,ABN AMRO BANK N.V. SINGAPORE BRANCH,(INTERNATIONAL PRIVATE CLIENTS DEPARTMENT),SINGAPORE,3,ABNASG2AIPC,NaN,NaN,NaN,NaN,NaN
3,ABN AMRO BANK N.V. SINGAPORE BRANCH,None,SINGAPORE,4,ABNASG2A,NaN,NaN,NaN,NaN,NaN
4,ABN AMRO CLEARING BANK N.V.,None,SINGAPORE,5,ABNCSGSG,NaN,NaN,NaN,NaN,NaN

In [16]:
df.shape

(880, 10)

In [17]:
df = df[df['l_swift_code'].str.contains(bic.bank_code)]

In [18]:
df.shape

(5, 10)

In [19]:
df

,l_bank,l_branch,l_city,l_id,l_swift_code,id,bank,city,branch,swift_code
416,DBS BANK LTD.,(DERIVATIVES OPERATION DEPARTMENT),SINGAPORE,417,DBSSSGSGDOD,NaN,NaN,NaN,NaN,NaN
417,DBS BANK LTD.,(INVESTMENT BANKING DEPARTMENT),SINGAPORE,418,DBSSSGSGIBD,NaN,NaN,NaN,NaN,NaN
418,DBS BANK LTD.,(LA REP OFFICE),SINGAPORE,419,DBSSSGSGLAO,NaN,NaN,NaN,NaN,NaN
419,DBS BANK LTD.,(PCG - PRIVATE BANKING DEPARTMENT),SINGAPORE,420,DBSSSGSGPCG,NaN,NaN,NaN,NaN,NaN
420,DBS BANK LTD.,None,SINGAPORE,421,DBSSSGSG,NaN,NaN,NaN,NaN,NaN

In [ ]:
q=pd.read_json('SwiftCodes/AllCountries/' + bic.country_code + '.json',orient='records')
# x=q['list'].to_json(orient='split')
# z=pd.read_json(x)
q

In [ ]:
if q['list'].str.contains('ABERDEEN ASSET').any():
    print ("Mel is there")
# print(q)